.menuPanel
{
	width:100%!important;
	float:none!important;
	text-align:center;
}
.menuPanel ul li
{
	float:none!important;
	display:inline-block!important;
}
.menuPanel ul li a
{
    font-family: arial;
	font-weight: lighter;
	line-height: 1;
	color: #fff;
	text-transform:capitalize;
	font-weight: bold;
	padding:16px 28px !important;
	
}
.menuPanel ul li a:hover, .menuPanel ul li:hover a
{
    background: #000;
	color: #f49c04;
}
.menuPanel ul li ul li
{
	display:inherit!important;
	text-align:left;
	width:250px;
}
.menuPanel ul li ul li a
{
    background:#000!important;
    border-bottom: solid 1px #4b0000!important;
    font-size:12px;
    font-weight:normal;
    padding:12px 25px!important;
    color:#fff!important;
    line-height:16px;
}
.menuPanel ul li ul li a:hover, .menuPanel ul li ul li:hover a
{
	background: #2e0101!important;
	color: #f49c04!important;
}
.menuPanel ul li ul li ul li a:hover
{
	background:#000!important;
	color:#fff!important;
}
.menuPanel ul li ul li a:before{
	font-family: 'fontAwesome';
	content: "\f105";
	margin-right: 7px;
	color: #a90002;
}
#menuBar ul
{
	width:100%!important;
    z-index:800;
}
#menuBar ul.dynamic
{
	margin-left:0!important;
}